/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*--reset--*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*--start editing from here--*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*--end reset--*/
body {
	margin:0;
    font-family: 'News Cycle', sans-serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:100%;
	text-align: left;
	background:url(../images/bg.jpg)no-repeat;
    background-position:0px 0px;
	background-attachment:fixed;
}
/*-- banner --*/  
.video {
    background-position:0px 0px;
	text-align: left;
	min-height: 100%;
	background-size:cover;
	/*min-height:900px;*/
	/*background-position:center;
	background-attachment:fixed;--*/
}
h1,h2,h3,h4,h5,h6,input,p,a,select,button,textarea,label{
	margin:0;
}
.text-center {
	text-align: center;
}
.clear{clear:both;}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	text-decoration: none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}	
p{
	margin:0;
	
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
	color: #dcffff;
}
.text-center {
	text-align:center;
}
.clear {
	clear: both;
}
.center-container {
    padding: 0;
    background: rgba(0, 0, 0, 0.21);
}
::-webkit-input-placeholder {
   color: #777;    
} 
:-moz-placeholder { /* Firefox 18- */
   color: #777; 
} 
::-moz-placeholder {  /* Firefox 19+ */
   color: #777;  
} 
:-ms-input-placeholder {  
   color:#777;
}
.bg {
    background-size: cover;
    background-attachment: fixed;
}
/* form */
h1.agile-head {
    color: #fff;
    font-size: 2.5em;
    text-align: right;
    padding: 0.2em 4em 0.5em;
	font-weight:600;
}
.w3layouts-head{	
    background: url(../images/m.jpg) no-repeat center;
	background-size:cover;
}
.center-container h2 {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 1.8em;
    letter-spacing: 1px;
    margin: 2em 0 1em;
}
.content-w3ls {
    width: 31%;
    margin: 2em auto 0;
    background:rgba(41, 182, 246, 0.81);
    padding: 3em;
}
.form-control {
    margin-bottom: 1em;
}
.form-control:nth-child(6) {
	padding-bottom:0;
}
label.header, label.enquiry {
    font-size: 1em;
    font-weight: 600;
    color: #003584;
	letter-spacing:0.5px;
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 0.6em;
}
input#name, input#email, input#bill, input#usrtel, textarea#message {
    border: none;
    color: #000;
    outline: none;
    font-size: 1em;
	padding:15px;
    background-color: rgba(255, 255, 255, 0.75);
}
input#name, input#email, input#bill, input#usrtel {
    padding: 15px;
    width: 93.5%;
}
textarea#message {
	height:150px;
	padding:15px;
	width:94%;
	resize:none;
	font-family: 'News Cycle', sans-serif;
}
.form-control.w3ls-end {
    margin: 0;
}
input::-webkit-input-placeholder {
color:#c1c1c1!important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color:#c1c1c1!important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color:#c1c1c1!important;  
}
 
input:-ms-input-placeholder {  
color:#c1c1c1!important;  
}
textarea::-webkit-input-placeholder {
color:#c1c1c1!important;
}
 
textarea::-moz-placeholder { /* Firefox 18- */
color:#c1c1c1!important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color:#c1c1c1!important;  
}
 
textarea::-ms-input-placeholder {  
color:#c1c1c1!important;  
}
.form-control select {
    border: none;
    outline: none;
    font-size: 0.9em;
    background: url(../images/icon.png) no-repeat 97% center rgba(255, 255, 255, 0.75);
    padding: 0.8em 1em;
    color: #000!important;
    -webkit-appearance: none;
    width: 100%;
}
.register,.reset {
	background:#00223c;
    width:20%;
	padding:0.7em 1em;
	margin-right:5px;
	float:right;
    border: none;
    cursor: pointer;
    color: #fff;
	letter-spacing:1px;
    outline: none;
    font-size:0.9em;
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}	
.register:hover,.reset:hover {
	background:#fff;
	color:#00223c;
}
.agileits-w3layouts-copyright {
    padding: 1em 0 2em;
}
p.w3ls-copyright,p.w3ls-copyright a {
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 1em;
}
@media screen and (max-width: 1440px){
	textarea#message {
       width: 93%;
	}
	input#name, input#email, input#bill, input#usrtel {
		width: 93.2%;
	}
}
@media screen and (max-width: 1366px){
	input#name, input#email, input#bill, input#usrtel {
		width: 93%;
	}
}
@media screen and (max-width: 1280px){
	.content-w3ls {
		width: 35%;
	}
}
@media screen and (max-width: 1080px){
	.content-w3ls {
		width: 40%;
	}
	h1.agile-head {
       padding: 0.2em 2em 0.5em;
	}
}
@media screen and (max-width: 1050px){
	input#name, input#email, input#bill, input#usrtel,textarea#message {
		width: 92.8%;
	}
}
@media screen and (max-width: 1024px){
	input#name, input#email, input#bill, input#usrtel, textarea#message {
		width: 92.7%;
	}
}
@media screen and (max-width: 991px){
	.content-w3ls {
		width: 46%;
	}
}
@media screen and (max-width: 900px){
	h1.agile-head {
		padding: 0.2em 1em 0.5em;
	}
	.content-w3ls {
		width: 50%;
	}
}
@media screen and (max-width: 800px){
	.content-w3ls {
		width: 54%;
	}
	h1.agile-head {
		font-size: 2.1em;
	}
	
}
@media screen and (max-width: 768px){}
@media screen and (max-width: 736px){
	.center-container h2 {
       font-size: 1.6em;
	}
}
@media screen and (max-width: 667px){
	h1.agile-head {
		font-size: 1.8em;
	}
	input#name, input#email, input#bill, input#usrtel {
		padding: 11px;
	}
	.center-container h2 {
		font-size: 1.5em;
	}
	.register, .reset {
		width: 25%;
	}
}
@media screen and (max-width: 640px){
	.register, .reset {
		width: 30%;
	}
	.center-container h2 {
		font-size: 1.4em;
	}
}
@media screen and (max-width: 568px){
	.center-container h2 {
		font-size: 1.3em;
	}
	.register, .reset {
		width: 36%;
	}
	.content-w3ls {
		width: 60%;
		padding:2em;
	}
	
}
@media screen and (max-width: 480px){
	h1.agile-head {
		font-size: 1.6em;
	    padding: 0.2em 0.2em 0.5em;
	}
	.center-container h2 {
		font-size: 1.3em;
		padding: 0 0.5em;
	}	
	.content-w3ls {
		width: 68%;
	}
	.center-container h2 {
       margin: 1.5em 0 1em;
	}
}
@media screen and (max-width: 414px){
	.content-w3ls {
		width: 75%;
	}
}
@media screen and (max-width: 384px){
	p.w3ls-copyright{
		padding: 0 1em;
	}
}
@media screen and (max-width: 320px){
	.center-container h2 {
		font-size: 1.2em;
	}
	.content-w3ls {
		width: 79%;
		padding:2em 1.5em;
	}
}

